@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
} 

a.active{
  border: 1px solid;
  background: white;
  color: #1876d2;
}
a.active:hover {
  border: 1px solid;
    background: white;
    color: #1876d2;
}
.MuiBadge-badge{
  top:10px !important;
}

